$page-padding: 5rem;
$regular-text-font: Verdana, Geneva, Tahoma, sans-serif;
$custom-text-font: "KaushanScript";
$header-homepage-text-color: #fff;
$header-text-color: #162e46;
$brown-color: #ba5d2c;
$text-heading-color: #112942;
$text-description-color: #627e99;
$product-name-color: #617d98;
$product-price-color: #324d67;
$nav-background-color: #f1f5f8;
