@import "variables";

@font-face {
  font-family: $custom-text-font;
  src: url(../fonts/kaushanscript/KaushanScript-Regular.otf);
}

body {
  font-family: $regular-text-font;
}

.header {
  padding-left: $page-padding;
  padding-right: $page-padding;
  color: $header-text-color;
}

.header-homepage {
  position: relative;
  padding-left: $page-padding;
  padding-right: $page-padding;
  height: 90vh;
  background-image: url(../images/homepage-background.jpg);
  color: $header-homepage-text-color;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  padding-left: 0;
  display: flex;
  column-gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.nav-list__link {
  all: unset;
  cursor: pointer;
}

.heading-custom {
  font-family: $custom-text-font;
}

.heading-custom--large {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.shop-cart-button {
  background-image: url(../images/shop-cart.png);
  height: 32px;
  width: 53px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.shop-cart-button--white {
  filter: brightness(0) invert(1) grayscale(1);
}

.shop-cart-button--black {
  filter: brightness(0) invert(0) grayscale(1);
}

.header__text {
  position: absolute;
  top: 35%;
}

.header__paragraph {
  font-size: 1.25rem;
}

.header__button-link {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: transparent;
  color: $header-homepage-text-color;
  border-radius: 5px;
  border: 2px solid $header-homepage-text-color;
}

.featured-section {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.slash {
  color: $brown-color;
}

.text-heading {
  color: $text-heading-color;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  line-height: 0;
}

.product__name {
  color: $product-name-color;
  font-size: 1rem;
  font-weight: 100;
}

.product__price {
  color: $product-price-color;
  font-weight: 600;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.products__button-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: $brown-color;
  color: $header-homepage-text-color;
  border-radius: 5px;
}

.nav {
  padding-left: $page-padding;
  padding-right: $page-padding;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $nav-background-color;
  color: $product-name-color;
  font-size: 1.5rem;
  font-weight: 600;
}

.section-about-us {
  padding-left: 16rem;
  padding-right: 16rem;
  color: $text-description-color;
}
