@import "variables";

@font-face {
  font-family: $custom-text-font;
  src: url(../fonts/kaushanscript/KaushanScript-Regular.otf);
}

body {
  font-family: $regular-text-font;
  font-weight: $page-font-weight;
}

.header {
  padding-left: $page-padding;
  padding-right: $page-padding;
  color: $header-text-color;
}

.header-homepage {
  position: relative;
  height: 90vh;
  background-image: url(../images/homepage-background.jpg);
  background-size: cover;
  color: $header-homepage-text-color;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav-list {
  padding-left: 0;
  display: flex;
  column-gap: 2rem;
  text-decoration: none;
  list-style: none;
}

.nav-list__link {
  all: unset;
  cursor: pointer;
}

.heading-custom {
  font-family: $custom-text-font;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.15);
}

.heading-custom--large {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}

.heading-custom--centered {
  position: absolute;
  bottom: -25%;
  left: 45%;
}

.shop-cart-button {
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.shop-cart-button--white {
  background-image: url(../images/shopping-cart-white.png);
}

.shop-cart-button--blue {
  background-image: url(../images/shopping-cart-blue.png);
}

.header__text {
  position: absolute;
  top: 35%;
}

.header__paragraph {
  font-size: 1.25rem;
}

.header__button-link {
  display: inline-block;
  padding: 1rem 2rem;
  text-decoration: none;
  background-color: transparent;
  color: $header-homepage-text-color;
  border-radius: 5px;
  border: 2px solid $header-homepage-text-color;
}

.featured-section {
  padding-left: $page-padding;
  padding-right: $page-padding;
}

.slash {
  color: $brown-color;
}

.text-heading {
  color: $text-heading-color;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 1rem;
}

.product {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  line-height: 0;
}

.product__image {
  border-radius: 10px;
}

.add-to-cart-button {
  position: absolute;
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  background-image: url(../images/add-to-cart-icon.png);
  cursor: pointer;
  top: 75%;
  right: 0;
}

.product__name {
  color: $product-name-color;
  font-size: 1rem;
}

.product__price {
  color: $product-price-color;
}

.button-wrapper {
  display: flex;
  justify-content: center;
}

.products__button-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: $brown-color;
  color: $header-homepage-text-color;
  border-radius: 5px;
}

.nav {
  padding-left: $page-padding;
  padding-right: $page-padding;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: $nav-background-color;
  color: $product-name-color;
  font-size: 1.5rem;
}

.about-us-section {
  padding-left: 16rem;
  padding-right: 16rem;
  color: $text-description-color;
}

.filters-products-wrapper {
  padding-left: $page-padding;
  padding-right: $page-padding;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  column-gap: 2rem;
}

.filters-section {
  display: flex;
  flex-direction: column;
}

.search-filter {
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  background-color: $nav-background-color;
}

.companies-filter-heading {
  color: $text-heading-color;
}

.companies-filter-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.companies-filter-button {
  margin-top: 0.5rem;
  border: none;
  background-color: transparent;
  color: $filter-description-color;
  font-weight: $page-font-weight;
  cursor: pointer;
}

.price-filter-heading {
  color: $text-heading-color;
}

.price-filter-description {
  color: $filter-description-color;
}

.shop-cart {
  width: 30vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  background-color: $nav-background-color;
  padding: 1rem;
  transition: transform 0.5s ease-in-out;
}

.shop-cart--open {
  transform: translateX(-60vw);
}

.close-icon {
  height: 32px;
  width: 32px;
  border: none;
  background-color: $nav-background-color;
  background-image: url(../images/close-icon.png);
  cursor: pointer;
}

.shop-cart__heading {
  color: $shop-cart-heading-color;
  font-family: $custom-text-font;
  text-align: center;
}

.shop-cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.shop-cart__item-wrapper {
  display: flex;
  column-gap: 2rem;
}

.shop-cart__item-image {
  height: 90px;
  width: 120px;
  border-radius: 5px;
}

.shop-cart__item-info {
  display: flex;
  flex-direction: column;
}

.shop-cart__item-name {
  margin-top: 0;
  color: $shop-cart-heading-color;
}

.shop-cart__item-price {
  margin-top: 0;
  color: $shop-cart-item-price-color;
}

.shop-cart__item-remove-button {
  padding: 0;
  text-align: start;
  background-color: transparent;
  color: $shop-cart-item-remove-button-color;
  border: none;
  cursor: pointer;
}

.shop-cart__item-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow {
  background-color: transparent;
  color: $brown-color;
  font-weight: $page-font-weight;
  border: none;
  cursor: pointer;
}

.shop-cart__footer {
  position: absolute;
  bottom: 5%;
  left: 35%;
}

.shop-cart__checkout-button {
  display: inline-block;
  width: 100%;
  border: none;
  padding: 0.5rem 1rem;
  text-decoration: none;
  background-color: $brown-color;
  color: $header-homepage-text-color;
  border-radius: 5px;
  cursor: pointer;
}

input[type="range"] {
  height: 26px;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0175ff;
  border-radius: 15px;
  border: 1px solid #637f99;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #0175ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #0175ff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #0175ff;
  border-radius: 15px;
  border: 1px solid #637f99;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #0175ff;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 9px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: #0175ff;
  border: 1px solid #637f99;
  border-radius: 30px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-fill-upper {
  background: #0175ff;
  border: 1px solid #637f99;
  border-radius: 30px;
  box-shadow: 0px 0px 0px #000000;
}

input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background: #0175ff;
  cursor: pointer;
}

input[type="range"]:focus::-ms-fill-lower {
  background: #0175ff;
}

input[type="range"]:focus::-ms-fill-upper {
  background: #0175ff;
}
